.home-button {
    margin-right: 10px;
    font-size: 18px;
    line-height: 18px;
    background-color: #224952;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
