.home-button {
    margin-right: 10px;
    font-size: 18px;
    line-height: 18px;
    background-image: linear-gradient(180deg, #013220 0%, rgb(10, 190, 144) 70%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
